// In this file I am keeping all the sass variables for the website sections in order to make it modular

// font
// $primary-font-stack: 'Didact Gothic', sans-serif;
$primary-font-stack: 'Rubik', sans-serif;

$section-padding: 75px 0;

// navbar
$navbar-height: 70px;
$navbar-height-mobile: 60px;
$navbar-font-size: 1.2em;
$navbar-background-color: rgba(255, 255, 255, 0.97);
$navbar-font-color: #717f86;
$navbar-font-color-hover: darken(#828990, 50);

// header
$header-padding: 110px 0;
$learn-more-button-color: rgba(2, 200, 115, 255);
$learn-more-button-color-hover: darken($learn-more-button-color, 4);
$learn-more-button-text-color: #fff;

// screen-sizes
$mobile-max-width: 768px;
$tablet-width: 769px;
$desktop-width: 1024px;

// colors
$color-input-background: #e8ebed;
$color-btn-green: #5fcf80;
$color-text: #717f86;
$color-text-black: #000;
$color-footer: #f9fafa;

$blue-light: #42b4d6;

$white: #fff;
$green-dark: #2d9676;
$green-light: #5bb860;

$violet-dark: #645a7e;
$violet-light: #80438e;

// HEADER

$header-background-color: #838cc7;
$btn-learn-more-color: #23bbae;

// FOOTER COLORS
$background: #edeff1;
$color-h1: #3a4550; //black
$color-svg-fill: #b7bec4; //grey
$color-a-link: #a8efff; //blue
$color-footer-text: #bbbdc3;

$blue: #387bc8;
$light-blue: #558ed1;
$light-blue-line: #588fd1;

// TECHDEGREE
$blue01: #1f99d9; //#388CD1; //#38ACD1; // front-end development
$red01: #c25a75; // full stack JavaScript
$pink01: #f192b0; // python web development
$green01: #54bbb4; // ios development
$text-green: #55cb80;

$green-4: #3fb03b;
