

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  About Section Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#about {
  background-color: $white;
  padding: $section-padding;
  h1 {
    padding-bottom: 20px;
  }
}

.about-container {
  // border: 1px solid red;
}

.profile-image {
  width: 250px;
  border-radius: 50%;
  outline-offset: 2px;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.64,.61,.07,.96);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(113,127,134,0.87);
  box-shadow: 0px 0px 15px 1px rgba(113,127,134,0.87);

  &:hover {
    transform: scale(.8);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.74);
    -moz-box-shadow:    0px 0px 30px 0px rgba(89, 89, 89, 0.74);
    box-shadow:         0px 0px 30px 0px rgba(89, 89, 89, 0.74);
  }

}

.name {
  margin-top: 15px;
}
.profile-container {
  // border: 1px solid green;
  margin: 30px 0 20px;
  h3 {
    margin: 10px 0;
  }
  .about-icons {
    align-self: center;
    justify-self: center;
  }
  padding: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;

  grid-template-columns: repeat(2, minmax(250px, 400px));
  grid-template-rows: repeat(3, 250px);
  grid-template-areas:  "item-2 item-1"
                        "item-3 item-4"
                        "item-6 item-5";
  grid-row-gap: 50px;
  grid-column-gap: 90px;
  .profile-info-title,
  .statement {
    text-align: left;
  }
  .about-icons {
    width: 250px;
  }

  .profile-item {
    // border: 1px solid red;
  }

  @include mobile {
    .profile-info-title,
    .statement {
      text-align: center;
    }
    .about-icons {
      width: 150px;
    }

    grid-template-columns: minmax(250px, 400px);
    grid-template-rows: repeat(6, 180px);
    grid-template-areas:  "item-1"
                          "item-2"
                          "item-3"
                          "item-4"
                          "item-5"
                          "item-6";
    grid-row-gap: 0;
  }


  @include desktop {
    grid-column-gap: 150px;
  }
  .statement {
    line-height: 2em;
  }
}

.item-1,
.item-3,
.item-5 {
  transition-duration: 0.7s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.55,.99,.4,1.19);
  &:hover {
    transform: scale(1.1);
  }
}




.item-1 {
  grid-area: item-1;
}


.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}

.item-6 {
  grid-area: item-6;
}
